<header class="navbar">
    <a href="/" class="logo">
         <img src="/assets/logo.png" alt="Site Logo">
    </a>
    <nav>
        <ul>
            {% for page in collections.nav | sort(attribute="data.order") %}
                <li><a id="navbar-member" href="{{ page.url }}">{{ page.data.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</header>
